* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  
  /* HEADER / NAV BAR STYLES START */
  
  header {
    padding: 20px 35px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #ffffff;
  }
  
  header a {
    text-decoration: none;
    color: #ffffff;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  
  /* HEADER / NAVBAR STYLES END */

    /* HERO STYLES START */
    .hero {
        background-image: url('../images/hero-greeting.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        max-height: 400px;
        min-height: 400px;
    }

    .hero-cta {
        margin-right: 250px;
    }

    .hero-cta h2 {
        font-size: 85px;
    }

    .hero-cta h3 {
        font-size: 40px;
    }

      /* SECTION TITLE STYLES START */
  .section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: #ffffff;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  }
  
  .primary-border {
    border-color: #ffffff;
  }
  
  .secondary-border {
    border-color: #39a6b2;
  }
  /* SECTION TITLE STYLES END */
  
  /* WHAT WE DO STYLES */
  .intro {
      background-color: #696565;
  }
  
  .intro p {
    line-height: 1.7;
    color: #ffffff;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
  }
  /* WHAT YOU DO STYLES END */

      /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
  
    .hero-cta, .hero-form {
      width: 100%;
    }
    
    .hero-cta {
      text-align: center;
    }
  
    .section-title {
      width: 80%;
    }
    
    .trainer {
      flex: 0 70%;
    }
    
    .contact-info iframe{
      flex: 1 100%;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-form button {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .trainer {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-form {
      order: 3;
    }
  }